header {
    background: black;
    padding: 110px 0;
}

.titulo {
    margin: -100px 0 0 0;
    padding-left:190px;
    float: left;
}

nav li {
    display: inline;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}

nav { 
    padding-left: 800px;
    font-size:22px;
    font-weight: bold;
    display: inline;
}

nav ul {
    padding-left: 750px;
}

nav ul li {
    margin-right: 10px;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align:top;
    margin: 0 1.5%;
    padding: 30px 20px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid ;
    border-radius: 10px;
    
}

.produtos li:hover{
    border-color: #C78C19;

}
.produtos li:active {
    border-color: #088C19 ;
}

.produtos li:hover h2 {
    font-size: 35px;

}

.produtos li:hover p.produto-preco {
    font-size: 30px;
}

.produtos li:hover p.produto-desconto {
    visibility: visible;
    display: block;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;

}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;

}

.produto-desconto {
visibility: hidden;
padding: 10px 0 0;
color: red;
font-weight: bold;
display: none;


}

footer {
    text-align: center;
    background: black;
    padding:30px 0;
}

.copyright {
    color:#FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;

}