header {
    background: black;
    padding: 110px 0;
}

.titulo {
    margin: -100px 0 0 0;
    padding-left:190px;
    float: left;
}

nav li {
    display: inline;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}

nav { 
    padding-left: 800px;
    font-size:22px;
    font-weight: bold;
    display: inline;
}

nav ul {
    padding-left: 750px;
}

nav ul li {
    margin-right: 10px;
}